<nav id="mainNav" class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <%= render 'shared/logo' %>
    </div>

    <!-- Main Navigation -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <li>
          <a class="page-scroll" data-toggle="modal" data-target="#myModal">How to Register</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<section class="main">
<header class="codrops-header-special">
  <!--<h1>Animated Responsive Image Grid</h1>-->
  <div class="container reg-container">
    <div class="col-sm-4"></div>
    <div class="col-sm-4">
      <div class="well">
        <ul class="nav nav-tabs">
          <li class="active">
            <a data-toggle="tab" href="#newuser">New Team</a>
            <!--<span class="glyphicon glyphicon-user"></span>-->
          </li>
          <li>
    		    <a data-toggle="tab" href="#registereduser">Registered Team</a>
    		    <!--<span class="glyphicon glyphicon-log-in"></span>-->
    		  </li>
        </ul>
        <div class="tab-content">
          <%= render 'signup_form' %>
          <%= render 'signin_form' %>
        </div>
      </div>
    </div>
    <div class="col-sm-4"></div>
  </div>

</section>


<!-- Registration Modal-->
<div id="myModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h2 class="modal-title">Registration</h2>
      </div>
      <div class="modal-body">
        <p>
        <h3>Online Registrations</h3>
        <ol class="mymodalpad">
          <li>Register with a unique team name of length 4 to 20 characters.</li>
          <li>Team name cannot have whitespace characters(spaces and tabs).</li>
          <li>Team mail-id and contact number can belong to any team member.</li>
          <li>All the important announcements will be conveyed through these team contact information.</li>
          <li>You can participate in all events(including LAN Gaming) or Lan Gaming Only. The fees details can be found on <a href="http://www.sankalanducs.in">www.sankalanducs.in</a></li>
          <li>After successful login, Use "Add Members" button to add/edit/delete members to team.</li>
          <li>Accommodation are limited and will be provided on First Registered First Served Basis only to outstation students</li>
          <li>Once successfully registered, You can add/delete/edit the members in your team anytime after loggin in. </li>
          <li>A team can have 2 to 6 members</li>
          <li>If a team has less than 2 members, it will be marked inactive. However you can also add/replace members to your team at Offline Registartions</li>
        </ol>
        <br />
        <br />
        <h3>Offline Registrations</h3>
        <ol>
          <li>Offline Registrations can be done on Sankalan day itself.</li>
          <li>We recommend you to register your team online to avoid queues/waits.</li>
        </ol>
        <br>
        Having Troubles? Contact Us : <br/> 
        Ravi Karki(9953562284) <br />
        Nikhil Gupta(9996822280) <br />
        Neeraj Kumar(8750542666) <br />
        Mail Us: sankalan@cs.du.ac.in
      </p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>
<%#= render "devise/shared/links" %>

<%= javascript_include_tag "register.js" %>
<script type="text/javascript">
    $(window).load(function(){
        $('#myModal').modal('show');
    });
</script>

<% content_for :head do %>
  <%= stylesheet_link_tag "register" %>
  <%= stylesheet_link_tag "demo" %>
  <script src='https://www.google.com/recaptcha/api.js'></script>
<% end %>
