
<h2 id="whiteheadin">Enter Member Information</h2>
<div class="container reg-container toppad">
  <div class="col-sm-4"></div>
  <div class="col-sm-4">
    <% if @member.errors.full_messages.present? %>
      <h4>Please fix following errors:</h4>
    <% end %>
    <ul>
      <% @member.errors.full_messages.each do |error| %>
        <li><%= error %></li>
      <% end %>
    </ul>
    <%= form_for([@team, @member]) do |f| %>
      <div class='form-group'>
      <fieldset>
        <%= f.label :name %>
        <%= f.text_field :name, class: 'form-control', minlength: "4", maxlength: "30", size: "20", required: true %>
      </fieldset>
      </div>
      <div class='form-group'>
        <%= f.label :email %>
        <%= f.email_field :email, class: 'form-control', size: "20", oninvalid: "setCustomValidity('Please Enter a valid e-mail id')", oninput: "setCustomValidity('')", required: true  %>
      </div>
      <div class='form-group'>
        <%= f.label :college %>
        <%= f.text_field :college, class: 'form-control', minlength: "4", maxlength: "30", size: "20", required: true %>
      </div>
      <div class='form-group'>
        <%= f.label :contact_no %>
        <%= f.text_field :contact_no, class: 'form-control', size: "20", maxlength: "10", minlength: "10", required: true  %>
      </div>
      <div class='form-group'>
        <%= f.label :gender %>
        <%= f.select(:gender, gender_collection, {}, {:class => "form-control"}) %>
      </div>
      <div class='form-group'>
        <%= f.label :accomodation_needed %>
        <%= f.select(:accomodation_needed, accomodation_options, {}, {:class => "form-control"}) %>
      </div>
      <div class='form-group'>
        <%= f.submit (f.object.new_record? ? "Create" : "Update"), class: 'nomarginbutton btn btn-default' %>
      </div>
    <% end %>
  </div>
  <div class="col-sm-4"></div>
</div>

<% content_for :head do %>
  <%= stylesheet_link_tag "teampage" %>
<% end %>
