<nav id="mainNav" class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand navbar-logo page-scroll" href="http://www.sankalanducs.in">
        <img src="/assets/dusankalan.png" alt="DU SANKALAN">
      </a>
    </div>

    <!-- Main Navigation -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <li>
          <%= link_to 'Team Home', team_path(current_team || @team) %>
        </li>
        <li>
          <a class="page-scroll" href="http://www.sankalanducs.in">Logout</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<br />
<h1 align="center">Your Member Details</h1>
<div class= "memberstable table-responsive">
  <table class="table table-striped table-bordered allmemberstableformat">
    <thead>
      <tr>
        <th>Name</th>
        <th>Email</th>
        <th>College</th>
        <th>Contact No.</th>
        <th>Gender</th>
        <th>Accomodation Required</th>
        <th>Actions</th>
      </tr>
    </thead>

    <tbody>
      <% @members.each do |m| %>
        <tr>
          <td><%= m.name %></td>
          <td><%= m.email %></td>
          <td><%= m.college %></td>
          <td><%= m.contact_no %></td>
          <td><%= m.gender %></td>
          <td><%= m.accomodation_required %></td>
          <td>
            <%= link_to 'Edit', edit_team_member_path(@team.team_name, m), class:"smallerbutt btn btn-info " %>
            <%= link_to 'Delete', team_member_path(@team, m), class:"smallerbutt btn btn-info ", method: :delete, confirm: 'Are you sure?' %>
          </td>
        </tr>
      <% end %>
          <tr>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
  </table>
</div>
<br />
<div id="centerbutton">
  <%= link_to 'Add new member', new_team_member_path(@team), class:"btn btn-white", disabled: @team.members_count == 6 %>
</div>
<br/>
<br/>
<% content_for :head do %>
  <%= stylesheet_link_tag "teampage" %>
<% end %>
